.addTask-page {
    width: 89%;
    position: relative;
    left: 11%;
    height: 100vh;
    position: relative;
}

.title-div-container, .empty-div-container {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.title-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 90%;
    width: 90%;
}

.title-text-container h2 {
    margin: 0;
    font-size: 32px;
    color: rgb(30, 49, 144);;
}

.title-text-container p {
    margin: 0;
    font-size: 12px;
    color: rgb(30, 49, 144);
}

.addTask-content-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-card {
    height: 90%;
    width: 90%;
    background-color: rgb(244, 243, 251) !important;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-custom-card {
    height: 90%;
    width: 90%;
    display: flex;
    color: rgb(30, 49, 144);
}

.inner-custom-card h3 {
    margin: 0;
    margin-bottom: 8px;
}

.right-cardhalf, .left-cardhalf {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.card-title-section, .card-category-section, .card-date-section, .card-importance-section {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-description-section {
    height: 50%;
}

.card-description-section input {
    height: 80%;
    width: 95%;
}

.card-assign-commit-section {
    height: 50%;
}

.card-title-section input, .card-date-section input {
    width: 95%;
    height: 50%;
}

.card-importance-section div, .card-category-section div {
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-importance-section div p {
    width: 70%;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 2px;
}


.card-importance-section div select {
    width: 30%;
    height: 100%;
}

.card-category-section div p {
    width: 70%;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 2px;
}


.card-category-section div select {
    width: 30%;
    height: 100%;
}

.assign-person-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50%;
}

.assign-person-div div {
    display: flex;
}
.assign-person-div img {
    margin-left: 4px;
    margin-right: 4px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    background-color: white;
    border-radius: 100%;
    margin-right: 8px;
    margin-left: 8px;
}

.assign-commit-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 40%;
}

.assign-person-div button {
    margin: 8px ;
}

.assign-commit-div button {
    margin-left: 16px;
    margin-right: 16px;
}


.custom-alert {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-alert p {
    font-size: 32px;
    margin: 0;
}

/********************SIDE_BAR_RELATED_SETTINGS********************/
.side-bar {
    width: 10%;
    /*if the width of sidebar is to be change, left position atribute of title-list-content class must be at least the same as the width of sidebar,
    * so that the two elements, side-bar and title-list-content, do not overlap*/
    height: 100%;
    padding: 5px;
    /*same as the positive box-shadow's h-offset value of link-selected class, so that the shadow line lies over the padding*/
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #1E3190;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2; /*for debug purpose*/
    /*draw over the list-content-container*/
    animation: showSidebar 2s ease;
}

.menu {
    height: 30%;
    /*adjust the value to position the links-container, up or down*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link-img {
    display: flex;
    justify-content: center
}

.menu-img {
    border: 6px;
    /*width: 100%;*/
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-link {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.menu a:hover {
    text-decoration: none;
    color: white;
}

.link-unselected {
    color: gray;
}

.link-selected {
    box-shadow: -5px 0px white;
    /*box-shadow's h-offset parameter same as the padding of sidebar so that the shadow line lies over the padding*/
    color: white;
}
/********************SIDE_BAR_RELATED_SETTINGS_END********************/

/********************KEY_FRAMES_ANIMATIONS********************/
@keyframes showSidebar{
    from{
        left: -11%;/*should match the positive left position value of sidebar*/
    }to{
        left: 0%; 
    }
}
/********************KEY_FRAMES_ANIMATIONS_END********************/