.data-page {
    width: 89%;
    position: relative;
    left: 11%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
}