
/*all pages containers should be set to the same values*/
.list-page {
    width: 100vw;
    height: 100vh;
}

/********************TITLE_LIST_CONTENT_RELATED_SETTINGS********************/
.title-list-content {
    position: relative;
    top: 0;
    left: 11%;
    /*if the left position of title-list-content is to be change, width of sidebar class must be at least the same as this left position,
    * so that the two elements, side-bar and title-list-content, do not overlap*/
    width: 88%;
    max-width: 88%;
    overflow-x: hidden;
    /*if the left position is to be changed this should be change as well to sum up to at most 100% to keep same visual aspect*/
    height: 100%;
}

.title-div-container, .empty-div-container {
    position: fixed;
    top: 0;
    width: 88%;
    /*becasue of possition fixed we need to set the width, if the width of sidebar is to be change, this should be change as well to sum up to 100% to keep same visual aspect*/
    height: 20%;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    /*draw over the list-content-container*/
    background-color: white;
    /**/
}

.title-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /*height: 90%;
    width: 90%;*/
}

.title-text-container h2 {
    margin: 0;
    font-size: 32px;
    color: black;
    font-weight: 500;
}

.title-text-container p {
    margin: 0;
    font-size: 12px;
    color: rgb(30, 49, 144);
}
/********************TITLE_LIST_CONTENT_RELATED_SETTINGS_END********************/


/********************LIST_CONTENT_RELATED_SETTINGS********************/
/*still in development*/
.list-content {
    position: relative;
    top: 25%;
    /*must be at least the same as title-container´s height and list-item-details sum so that they do not overlap*/
    /*height: 70%;*/
    /*a greater value will give the title-list-content class some left margin and disturbt visual output making it to scroll left and right*/
}

.list-item-description {
    background-color: white;
    position: fixed;
    top: 20%;
    /*must be at least the same as title-container´s height so that they do not overlap*/
    width: 88%;
    /*if the width of sidebar is to be change, this should be change as well to sum up to 100% to keep same visual aspect*/
    /*height: 10%;*/
    display: flex;
    /*justify-content: space-between;*/
    color: rgb(30, 49, 144);
}

.list-item-description p{
    margin-bottom: 0 !important;
}

/*settings to descriptions-text to match the coresponding  list-item-content*/
#assigned-p{
    width: 25%;
}

#category-p{
    width: 25%;
    text-align: center;
}

#details-p{
    width: 50%;
    text-align: end;
}

.list-item-content{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    height: 10%;
    /*width: 100%;*/
    background-color: gray;
    margin-bottom: 10px;
    border-radius: 10px;
    border-left-style: solid;
    border-left-color: orange;/*changes, depends on the level of item importants */
    border-left-width: 10px;
}

.assigned-to-content{
    width: 25%;
    /*height: 100%;*/
    display: flex;
    align-items: center;
}

.assigned-to-img{
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.category-content{
    width: 25%;
    /*height: 100%;*/
    text-align: center;
}

.details-content{
    width: 50%;
    /*height: 100%;*/
    max-height: 100%;
    overflow: hidden;
}
/********************LIST_CONTENT_RELATED_SETTINGS_END********************/


/*a feature to scale the item as pointer is over it*/
/*.list-item:hover{
    transform: scaleX(1.2);
    transform: scaleY(1.2);
}*/

/********************KEY_FRAMES_ANIMATIONS********************/
@keyframes showSidebar{
    from{
        left: -11%;/*should match the positive left position value of sidebar*/
    }to{
        left: 0%; 
    }
}
/********************KEY_FRAMES_ANIMATIONS_END********************/