.bg-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar-left-container {
    width: 20%;
    height: 100%;
}

.outer-matrix-container {
    width: 80%;
    height: 100%;
}

.urgency-text-container {
    height: 10%;
    display: flex;
}

.urgency-text-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}

.urgency-text-middle {
    width: 80%;
    height: 100%;
    display: flex;
}

.u-t-m-left {
    width: 40%;
    height: 100%;
    position: relative;
}

.u-t-m-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.u-t-m-right {
    width: 40%;
    height: 100%;
    position: relative;
}

.urgency-horizontal-line {
    height: 1px;
    background: black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5px;
    right: 0;
    z-index: -0;
}

.left0 {
    left: 0 !important;
}

.arrow-left {
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent black transparent transparent;
    position: absolute;
    top: 46%;
    left: 0;
}

.urgency-text-right {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.downpart-container {
    display: flex;
    width: 100%;
    height: 90%;
}

.importance-text-container {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.importance-text-middle {
    width: 100%;
    height: 90%;
}

.i-t-m-upper {
    width: 100%;
    height: 35%;
    position: relative;
}

.i-t-m-middle {
    width: 100%;
    height: 30%;
    transform: rotate(270deg);
    /*writing-mode: horizontal-tb;
    text-orientation: sideways-right;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-t-m-lower {
    width: 100%;
    height: 35%;
    position: relative;
}

.importance-vertical-line {
    border-left: 2px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
}

.arrow-top {
    position: absolute;
    top: 0;
    left: 47%;
    border-style: solid;
    border-width: 0px 5px 10px 5;
    border-color: transparent transparent black transparent;
}

.importance-text-down {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-matrix-container {
    width: 80%;
    height: 90%;
}

/*  
    Matrix components   
*/

.matrix-column-container {
    height: 50%;
    width: 100%;
    display: flex;
}

.matrix-task-cell-container {
    width: 50%;
    height: 100%;
}

.matrix-title-container {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matrix-tasks-container {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.matrix-task-container {
    left: 5%;
    position: relative;
    width: 82%;
    background-color: white;
    border-radius: 5px;
    border-left-style: solid;
    border-left-color: orange;
    border-left-width: 5px;
    padding: 12px;
}

.matrix-task-date {
    font-size: 0.6em;
    color: gray;
}

.matrix-task-title {
    font-size: 1.2em;
    color: black;
}

.matrix-task-description {
    font-size: 0.8em;
    margin-bottom: 5%;
}

.matrix-task-category-img-container {
    display: flex;
    justify-content: space-between;
}

.matrix-task-img {
    width: 32px;
    height: 32px;
}

.matrix-task-category {
    background-color: rgb(112,149,255);
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 0.6em;
    min-width: 25%;
    text-align: center;
}

.float-left {
    float: right;
}

.font-headlines {
    font-size: 1.5em;
}